<?xml version="1.0"?>
<config>
    <modules>
        <Ip_Blogfeed>
            <version>0.2.1</version>
        </Ip_Blogfeed>
    </modules>
    <frontend>
        <routers>
            <blogfeed>
                <use>standard</use>
                <args>
                    <module>Ip_Blogfeed</module>
                    <frontName>blogfeed</frontName>
                </args>
            </blogfeed>
        </routers>
        <layout>
            <updates>
                <blogfeed>
                    <file>blogfeed.xml</file>
                </blogfeed>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <blogfeed>
                <class>Ip_Blogfeed_Helper</class>
            </blogfeed>
        </helpers>
        <blocks>
            <blogfeed>
                <class>Ip_Blogfeed_Block</class>
            </blogfeed>
        </blocks>
        <models>
            <blogfeed>
                <class>Ip_Blogfeed_Model</class>
                <resourceModel>blogfeed_resource</resourceModel>
            </blogfeed>
            <blogfeed_resource>
                <class>Ip_Blogfeed_Model_Resource</class>
                <entities>
                    <posts>
                        <table>blogfeed_posts</table>
                    </posts>
                </entities>
            </blogfeed_resource>
        </models>
        <resources>
            <blogfeed_setup>
                <setup>
                    <module>Ip_Blogfeed</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </blogfeed_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <blogfeed before="Mage_Adminhtml">Ip_Blogfeed_Adminhtml</blogfeed>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <blogfeed>
                    <file>blogfeed.xml</file>
                </blogfeed>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <blogfeed>
            <posts>
                <list_meta>Blog feed</list_meta>
                <blog_url>blogfeed</blog_url>
                <image_width>400</image_width>
                <image_height>300</image_height>
            </posts>
        </blogfeed>
    </default>
</config>