<?xml version="1.0"?>
<config>
	<tabs>
        <cms translate="label">
            <label>CMS</label>
            <sort_order>250</sort_order>
        </cms>
    </tabs>
	<sections>
         <blogfeed translate="label">
         	<label>Blogfeed</label>
			<tab>cms</tab>
			<frontend_type>text</frontend_type>
			<sort_order>99999</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
            <groups>
                <posts translate="label comment">
                    <label>Posts</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<fields>
                        <list_meta translate="label">
                            <label>Meta title for list page</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </list_meta>
                        <blog_url translate="label">
                            <label>Blog Url</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>blogfeed/backend_url</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </blog_url>
                        <image_width translate="label">
                            <label>Image Width</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>blogfeed/backend_numeric</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image_width>
                        <image_height translate="label">
                            <label>Image Height</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>blogfeed/backend_numeric</backend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image_height>
                    </fields>
                </posts>
            </groups>
        </blogfeed>
    </sections>
</config>